<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registration</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{fragments/navbar-fragment :: navbar}"></div>

<div class="row justify-content-center">
    <div class="container mt-5">
        <div class="col-md-6 offset-md-1">
            <span class="d-block p-2 bg-primary text-white">Регистрация</span>

            <form th:method="POST" th:action="@{/auth/registration}" th:object="${userDTO}">

                <div class="mb-3">
                    <label for="username" class="form-label">Имя пользователя</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username
                        Error
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password
                        Error
                    </div>
                </div>

                <!-- Block for displaying an error message -->
                <div class="alert alert-danger" role="alert"
                     th:if="${registrationError}">
                    <span th:text="${registrationError}"></span>
                </div>

                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>

        </div>
    </div>
</div>

<div th:replace="~{fragments/footer-fragment :: footer}"></div>
</body>
</html>

