<div th:fragment="description" class="card">
    <div class="card-body">
        <h5 class="card-title">Книголюб</h5>
        <p class="card-text">
            Автоматизированная система по генерации цитат из книг:
            <br>
        <ul>
            <li>QuoteGen - приложение, которое генерирует случайные цитаты из случайно выбранной книги в
                электронной библиотеке пользователя. Приложение сканирует предложенный каталог и все
                подпапки, находит книги в форматах EPUB, FB2, DOC, DOCX, PDF и сохраняет информацию о них в
                базу данных.
            </li>
            <li>QuoteBot - телеграм-бот, предоставляет доступ ко всем точкам REST API приложения.</li>
            <li>QuotegenWeb - веб-приложение для доступа ко всем возможностям программы через браузер.</li>
        </ul>
        <ul>
            Использованные технологии и библиотеки:
            <br>
            <li>Java 20, JavaScript, Spring Boot 3.1.2, Spring Security 6, Spring Data JPA, Maven</li>
            <li>PostgreSQL, H2 database, Hibernate, SLF4J logging, JUnit5, Mockito</li>
            <li>Git, Postman</li>
            <li>Telegram API, Google Custom Search API</li>
            <li>HTML, CSS, Thymeleaf, Bootstrap 5</li>
            <li>Lombok, ModelMapper</li>
            <li>com.kursx.parser.fb2, nl.siegmann.epublib, org.apache.pdfbox, org.apache.poi, org.jsoup</li>
        </ul>
        <br><br>
        Пользователю доступны возможности:
        <ul>
            <li>получить статистику</li>
            <li>получить ответ в виде gif изображения "да" или "нет"</li>
            <li>погадать на книге: назвать страницу и строку, и приложение, случайно выбрав книгу, вернет
                указанное место
            </li>
            <li>получить случайную цитату из опубликованных ранее</li>
            <li>получить все цитаты за текущую неделю</li>
            <li>прочитать о версии и списке изменений</li>
            <li>отправить сообщение админу: баг, отзыв, предложения</li>
        </ul>
        <br>
        Админ может:
        <ul>
            <li>сканировать директорию на наличие электронных книг и сохранять их в БД</li>
            <li>делать запрос о генерации случайной цитаты</li>
            <li>получать по расписанию случайную цитату</li>
        </ul>
        </p>
    </div>
</div>