<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Book Management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
</head>
<body style="padding-top: 60px;">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Book Management</a>
    <div th:replace="~{fragments/navbar-fragment :: navbar}"></div>
</nav>

<div class="container-fluid mt-3">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1 class="card-title">Books</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>View</th>
                                <th>Edit</th>
                            </tr>
                            </thead>
                            <tr th:each="book : ${books}">
                                <td th:text="${book.id}">334</td>
                                <td th:text="${book.title} + '.' + ${book.format} + ' - ' + ${book.author}
                                + ' - ' + ${book.bookStatus}"
                                    style="max-width: 150px; overflow-wrap: break-word;">Some Book</td>
                                <td><a href="#" th:href="@{'/admin/book/view/' + ${book.id}}">View</a></td>
                                <td><a href="#" th:href="@{'/admin/book/edit/' + ${book.id}}">Edit</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <label>Просмотреть книги со стасусом DELETED</label>
                <button type="button" class="btn btn-primary"
                        onclick="window.location.href='/admin/book/view-deleted'">Просмотреть DELETED
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer-fragment :: footer}"></div>
</body>
</html>