<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Quote</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/quote-list.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Quote Management</a>
    <div th:replace="~{fragments/navbar-fragment :: navbar}"></div>
</nav>

<div class="container mt-5 form-container">
    <h2>Edit Quote</h2>

    <form th:action="@{/admin/quote/edit/{id}(id=${quoteDTO.id})}" th:object="${quoteDTO}" method="post">
        <input type="hidden" id="id" name="id" th:field="*{id}"/>

        <div class="form-group">
            <label for="content" class="form-label">Content:</label>
            <textarea class="form-control mb-2" id="content" name="content" th:text="*{content}" maxlength="4096"
                      style="height: auto; min-height: 400px;"></textarea>
        </div>

        <div class="form-group mb-3">
            <label for="status" class="form-label">Status:</label>
            <select class="form-control" id="status" name="status" th:field="*{status}">
                <option value="FREE">FREE</option>
                <option value="PENDING">PENDING</option>
                <option value="PUBLISHED">PUBLISHED</option>
            </select>
        </div>

        <div class="form-group mb-3">
            <label for="pendingTime" class="form-label">Pending At:</label>
            <input type="datetime-local" id="pendingTime" name="pendingTime" class="form-control datepicker"
                   th:value="${#temporals.format(quoteDTO.pendingTime, 'yyyy-MM-dd''T''HH:mm')}">
        </div>

        <div class="form-group mb-3">
            <label for="imageUrl" class="form-label">Image URL:</label>
            <input type="text" class="form-control" id="imageUrl" name="imageUrl" th:field="*{imageUrl}"/>
        </div>

        <div class="form-group mb-3">
            <label for="usedAt" class="form-label">Used At:</label>
            <input type="datetime-local" id="usedAt" name="usedAt" class="form-control datepicker"
                   th:value="${#temporals.format(quoteDTO.usedAt, 'yyyy-MM-dd''T''HH:mm')}">
        </div>

        <div class="mb-3">
            <label>Book Details:</label>
            <input type="hidden" id="bookId" name="bookId" th:field="*{bookId}"/>
            <a th:href="@{/admin/book/edit/{bookId}(bookId=${bookDTO.id},quoteId=${quoteDTO.id})}"
               class="btn btn-link">Edit Book Details</a>
        </div>

        <div class="form-group mb-3">
            <label for="bookAuthor" class="form-label">Book Author:</label>
            <input type="text" class="form-control" id="bookAuthor" name="bookAuthor" th:field="*{bookAuthor}"
                   readonly/>
        </div>

        <div class="form-group mb-3">
            <label for="bookTitle" class="form-label">Book Title:</label>
            <input type="text" class="form-control" id="bookTitle" name="bookTitle" th:field="*{bookTitle}" readonly/>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
    <a class="btn btn-secondary mt-2" th:href="@{/admin/quote}">Back to List</a>
</div>

<div th:replace="~{fragments/footer-fragment :: footer}"></div>
</body>
</html>