<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quote Management</title>
    <link rel="stylesheet" th:href="@{/css/quote-list.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Quote Management</a>
    <div th:replace="~{fragments/navbar-fragment :: navbar}"></div>
</nav>

<div class="container-fluid mt-5 w-100">
    <h2 class="panel-title">Quote Management</h2>
    <table class="table w-100 table-striped table-sm table-responsive">
        <thead>
        <tr class="sticky-header">
            <th>ID</th>
            <th>Content</th>
            <th>Status</th>
            <th>Pending Time</th>
            <th>Image</th>
            <th>Used At</th>
            <th>Book Author</th>
            <th>Book Title</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="quote : ${quotes}">
            <td th:text="${quote.id}"></td>
            <td><span th:text="${quote.content}"></span></td>
            <td th:text="${quote.status}"></td>
            <td th:text="${quote.pendingTime}"></td>
            <td>
                <div th:insert="~{fragments/image-cell :: image-cell}" th:with="imageUrl=${quote.imageUrl}"></div>
            </td>
            <td th:text="${quote.usedAt}"></td>
            <td th:text="${quote.bookAuthor}"></td>
            <td th:text="${quote.bookTitle}" class="max-width"></td>
            <td>
                <a class="btn btn-primary btn-sm" th:href="@{/admin/quote/view/{id}(id=${quote.id})}">View</a>
                <a class="btn btn-primary btn-sm" th:href="@{/admin/quote/edit/{id}(id=${quote.id})}">Edit</a>
                <a class="btn btn-danger btn-sm" onclick="showModal()">Delete</a>

                <!-- Confirm Delete Modal -->
                <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
                     aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this quote?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger"
                                   th:href="@{/admin/quote/delete/{id}(id=${quote.id})}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Page Numbers -->
    <div class="pagination">
        <p>Page:
            <span th:text="${page.getNumber() + 1}"></span> of <span th:text="${page.getTotalPages()}"></span>
        </p>
        <ul class="pagination-list">
            <li th:class="${page.first ? 'disabled' : ''}" class="page-item" style="display: inline-block;">
                <a class="page-link" th:href="@{${page.first ? '#'
                                               : '/admin/quote?page=' + (page.number - 1)}}">Previous</a>
            </li>
            <!-- Page Numbers -->
                <li th:each="i : ${page.getNumber() > 2 ?
                 (page.getNumber() < page.getTotalPages() - 2 ?
                #numbers.sequence(page.getNumber() - 2, page.getNumber() + 2) :
                 #numbers.sequence(page.getTotalPages() - 4, page.getTotalPages() - 1)) :
                  #numbers.sequence(0, (page.getTotalPages() - 1) >= 4 ? 4 : (page.getTotalPages() - 1))}"

                    th:class="${page.number == i ? 'active' : ''}"
                    class="page-item" style="display: inline-block;">

                    <a th:if="${sortField == null or sortField == ''}"
                       th:href="@{/admin/quote (page=${i}, size=${page.size})}"
                       class="page-link"
                       th:text="${i + 1}">
                    </a>

                    <a th:if="${sortField != null and sortField != ''}"
                       th:attr="href=@{/admin/quote (page=${i}, size=${page.size}, sortField=${sortField}, sortDirection=${sortDirection})}"
                       class="page-link" th:text="${i + 1}"></a>
                </li>

            </li>
            <li th:class="${page.last ? 'disabled' : ''}" class="page-item" style="display: inline-block;">
                <a class="page-link" th:href="@{${page.last ? '#'
                                                              : '/admin/quote?page=' + (page.number + 1)}}">Next</a>
            </li>
            <!-- Additional field for direct page input -->
            <li class="page-item">
                <form class="form-inline">
                    <input class="form-control form-control-sm" type="number" placeholder="Page" id="pageInput"
                           th:min="1" th:max="${page.getTotalPages()}"/>
                    <button type="button" class="btn btn-primary btn-sm" onclick="goToPage()">Go</button>
                </form>
            </li>
        </ul>
        <!--        Сортировка-->
        <div class="sort-controls">
            <label for="sortField">Sort by:</label>
            <select id="sortField" class="form-select">
                <option value="">-- No Sorting --</option>
                <option value="id">ID</option>
                <option value="status">Status</option>
                <option value="pendingTime">Pending Time</option>
                <option value="usedAt">Used At</option>
                <option value="bookAuthor"> Book Author</option>
                <option value="bookTitle"> Book Title</option>
            </select>

            <label for="sortDirection">Sort order:</label>
            <select id="sortDirection" class="form-select">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>

            <button class="btn btn-primary btn-sm" onclick="applySort()">Apply Sort</button>
        </div>

    </div>

    <!-- Добавлен селектор для выбора размера страницы -->
    <div class="mb-3">
        <label for="pageSizeSelect" class="form-label">Items per page:</label>
        <select id="pageSizeSelect" class="form-select" onchange="changePageSize(this)">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </div>

    <a class="btn btn-success mt-3" th:href="@{/admin/quote/create}">Create New Quote</a>
</div>

<div th:replace="~{fragments/footer-fragment :: footer}"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    document.addEventListener("DOMContentLoaded", function () {
        var pageSizeSelect = document.getElementById("pageSizeSelect");
        var currentPageSize = /*[[${page.size}]]*/ 20; // Значение по умолчанию

        for (var i = 0; i < pageSizeSelect.options.length; i++) {
            var option = pageSizeSelect.options[i];
            if (parseInt(option.value) === currentPageSize) {
                option.selected = true;
                break;
            }
        }
    });
    /*]]>*/

    function goToPage() {
        var pageInput = document.getElementById("pageInput").value;
        console.log("pageInput = ", pageInput);
        var maxPage = /*[[${page.getTotalPages()}]]*/ 1; // Значение по умолчанию
        // Проверка, чтобы номер страницы был в допустимых пределах
        if (pageInput > 0 && pageInput <= maxPage) {
            window.location.href = '/admin/quote?page=' + (pageInput - 1);
        } else {
            // Вывести сообщение об ошибке или принять другие меры
            console.error("Invalid page number");
        }
    }

    //for modal window with js
    let modal =
        new bootstrap.Modal(document.getElementById('confirmDeleteModal'));

    function showModal() {
        modal.show();
    }

    //for pagination
    function changePageSize(select) {
        var selectedPageSize = select.value;
        var sortField = document.getElementById("sortField").value;
        var sortDirection = document.getElementById("sortDirection").value;

        // Обновление URL с параметрами сортировки и размера страницы
        var currentUrl = window.location.href;
        var updatedUrl = updateQueryStringParameter(currentUrl, "size", selectedPageSize);

        if (sortField.trim() !== "" && sortDirection.trim() !== "") {
            updatedUrl = updateQueryStringParameter(updatedUrl, "sortField", sortField);
            updatedUrl = updateQueryStringParameter(updatedUrl, "sortDirection", sortDirection);
        }

        window.location.href = updatedUrl;
    }

    //for sorting
    function applySort() {
        var sortField = document.getElementById("sortField").value;
        var sortDirection = document.getElementById("sortDirection").value;

        // Обновление URL с параметрами сортировки
        var currentUrl = window.location.href;

        // Проверка, является ли sortField пустой строкой
        if (sortField.trim() !== "") {
            currentUrl = updateQueryStringParameter(currentUrl, "sortField", sortField);
            currentUrl = updateQueryStringParameter(currentUrl, "sortDirection", sortDirection);
        } else {
            // Если sortField пуст, удаляем параметры sortField и sortDirection из URL
            currentUrl = removeQueryStringParameter(currentUrl, "sortField");
            currentUrl = removeQueryStringParameter(currentUrl, "sortDirection");
        }

        // Удаление последнего символа & в конце URL (если есть)
        currentUrl = currentUrl.replace(/&$/, '');

        window.location.href = currentUrl;
    }

    // Вспомогательная функция для обновления параметров в URL
    function updateQueryStringParameter(uri, key, value) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
        var separator = uri.indexOf("?") !== -1 ? "&" : "?";
        if (uri.match(re)) {
            return uri.replace(re, "$1" + key + "=" + value + "$2");
        } else {
            return uri + separator + key + "=" + value;
        }
    }

    // Вспомогательная функция для удаления параметра из URL
    function removeQueryStringParameter(uri, key) {
        var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");

        if (uri.match(re)) {
            return uri.replace(re, "$1$2").replace(/&$/, '');
        } else {
            return uri;
        }
    }

</script>

</body>
</html>